# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

database_config.php
blueprint-config.php

# ignore blueprints!
blueprints/*.json
node_modules
cypress/fixtures
cypress/plugins
cypress/screenshots
cypress/support
cypress/videos
cypress/integration/examples