:root {
    --cell-size: 60px;
    --cell-size-answer: calc(var(--cell-size) / 3);
    --gap: 2px;
    --dim: 6;
    --row-count: var(--dim);
    --col-count: var(--dim);
    --background-color: #888;
    --border-color: #FFF;
    --stimulus-background-color: #bbb;
    --stimulus-text-color: #00F;
}

body {
    user-select: none;
    background-color: var(--background-color);
}

.jspsych-content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-rows: repeat(var(--row-count), 1fr);
    grid-template-columns: repeat(var(--col-count), 1fr);
    column-gap: var(--gap);
    row-gap: var(--gap);
    width: calc(var(--my-cell-size) * var(--col-count));
    height: calc(var(--my-cell-size) * var(--row-count));
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: var(--border-color);
    border: var(--gap) solid var(--border-color);
}
.grid > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.grid > div.grid-cell-filled {
    background-color: var(--stimulus-background-color);
    color: var(--stimulus-text-color);
}

.grid.hidden {
    visibility: hidden;
}

.stimuli .grid {
    --my-cell-size: var(--cell-size);
}

.grid.answer {
    position: relative;
    --my-cell-size: var(--cell-size-answer);
    font-size: .8em;
    line-height: 0;
    transform: none;
}

.answers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    row-gap: calc(var(--cell-size-answer) * 2);
}

.answers .grid {cursor: not-allowed;}
.awaiting-response .answers .grid {cursor: pointer;}
.received-response .answers .grid {cursor: default;}

.received-response .answers .grid:not(.chosen) {color: white;}